
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}
*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;

}
#hero{
    background-image: url("../images/Hero-bg.png");
    width: 1440px;
    height: 652px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#hero .banner-conteiner{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    text-align: center;
}
#hero .banner-heading{
    padding: 0 30px;
}
#hero .banner-heading h1{ color: rgb(13, 19, 33);
font-size: 48px;
font-weight: 800;
line-height: 68px;
}
#hero .banner-heading p{ color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
opacity: 0.7;
}
#hero .banner-conteiner .btn{
padding: 21px 24px 21px 24px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
line-height: 23px;
border-radius: 8px;
background: rgb(13, 19, 33);
border: none;
}
/*Why Web Development star*/
#Development{
width: 946px;
height: 1072px;
margin: 0 auto;
margin-top: 74px;
}
#Development .taitle h2{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}
#Development .taitle p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
opacity: 0.7;
}
#Development .content{
width: 477px;
height: 220px;
margin: 0 auto;
}
#Development .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 90px;
  
}
#Development .content1 h2{
color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
}
#Development .content1 p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;

}
#Development .content1 .btn{
    width: 109px;
    height: 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;

}

/*Why Web Development end*/
/*My Inspiration start*/
#inspiration{
    width: 1140px;
    height: 777px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
#inspiration h2{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
margin-top: 30px;
}
#inspiration p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
opacity: 0.7;
margin-top: 30px;

}
#inspiration iframe{
    border-radius: 16px;
    margin-top: 80px;

}

/*My Inspiration end*/











/*My Current Target start*/
#target{
 width: 1140px;
 height: 463px;
 margin: 0 auto;
 margin-top: 150px;
 margin-bottom: 111px;
}
#target .content{
width: 852px;
height: 115px;
text-align: center;
margin: 0 auto;
}
#target .content h1{
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
}
#target .content p{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.skiils-conteiner{
    display: flex;
    gap: 30px;
    border-radius: 16px;
    
}
.skiil{
    padding: 30px;
    border-radius: 16px;

   
}
.skiil-bg1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.skiil-bg2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.skiil-bg3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.skiil .skiil-title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
  
}
.skiil .skiil-discriptiop{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}
.skiil h6{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
}

            /*My Current Target end*/
            /* My Next Target start*/
#main-next-target{
    width: 1140px;
    height: 971px;
    margin: 0 auto;
    margin-bottom: 42px;
 }
 #main-next-target .next-target-content {
    width: 852px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
 }
 .next-target-content h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 24px;
 }
 .next-target-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
 }
 #main-next-target .target-all{
    display: flex;
justify-content: center;
 align-items: ;

    

 }
 #main-next-target .ReactJS{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin-bottom: 24px;
 }
 #main-next-target .ReactJS{
    width: 1140px;
    height: 220px;
 }
 #main-next-target .ReactJS-content{
width: 941.22px;
height: 140px;
padding: 25px;
 }
 .ReactJS h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
 }
 .ReactJS p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
 }
 .ReactJS h6{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
 }
 
 #main-next-target .NodeJs{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin-bottom: 24px;

 }
 #main-next-target .NodeJs{
    width: 1140px;
    height: 220px;
 }
 #main-next-target .ReactJS-content{
width: 941.22px;
height: 140px;
padding: 25px;
 }
 .NodeJs h3{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
 }
 .NodeJs p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
 }
 .NodeJs h6{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-decoration-line: underline;
 }

    #main-next-target .MongoDB{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 16px;
        margin-bottom: 24px;


    }
    #main-next-target .MongoDB{
        width: 1140px;
        height: 220px;
     }
     #main-next-target .ReactJS-content{
    width: 941.22px;
    height: 140px;
    padding: 25px;
     }
    .MongoDB h3{
        color: rgb(13, 19, 33);
        font-size: 24px;
        font-weight: 800;
        line-height: 36px;
    }
    
    .MongoDB p{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        opacity: 0.7;
    }
    .MongoDB h6{
        color: rgb(13, 19, 33);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-decoration-line: underline;
    }
 

 
            /* My Next Target end*/

        /*I need Support start*/
.main-support{
background-image: url("../images/handshake.jpg");
background-position: center ;
background-size: cover;
width: 1140px;
height: 314px;
margin: 0 auto;
border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
}
.support-contein{
    width: 1044px;
    height: 186px;
   margin: 0 auto;
   text-align: center;
   margin-top: 20px;
}
.support-contein .taxt h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
.support-contein .taxt p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;

}

         /*I need Support end*/










          /*footer section start*/
.main-footer{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin:80px 150px;
}
.footer-title{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
}
.footer-icon{
width: 157.01px;
height: 36px;
}
   /*footer section */